[submodule "bartsmeding/themes/simpleIntro"]
	path = bartsmeding/themes/simpleIntro
	url = https://github.com/qub1750ul/hugo-simpleIntro
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
